@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 10 10 10;
        --foreground: 255 255 255;
        --card: 23 23 23;
        --card-foreground: 255 255 255;
        --border: 255 255 255;
        --accent: 59 130 246;
    }

    html {
        scroll-behavior: smooth;
        background-color: rgb(10, 10, 10);
        color: white;
    }

    body {
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-x: hidden;
    }
}